* {
    background-image: none;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    transition: 200ms;
}

window {
    background-color: rgba(21, 21, 21, 0.5); /* Matching Waybar transparency */
}

button {
    color: #cdd6f4;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    transition: all 0.3s ease-in-out;
}

button:focus, button:active, button:hover {
    background-color: rgba(137, 180, 250, 0.2);
    border: 1px solid #89b4fa;
    color: #89b4fa;
    outline-style: none;
    
}

/* Icon Setup using Nerd Fonts instead of external PNGs for a cleaner look */
#lock {
    background-image: url("/usr/share/wlogout/icons/lock.png");
}

#logout {
    background-image: url("/usr/share/wlogout/icons/logout.png");
}

#suspend {
    background-image: url("/usr/share/wlogout/icons/suspend.png");
}

#hibernate {
    background-image: url("/usr/share/wlogout/icons/hibernate.png");
}

#shutdown {
    background-image: url("/usr/share/wlogout/icons/shutdown.png");
}

#reboot {
    background-image: url("/usr/share/wlogout/icons/reboot.png");
}