* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    font-weight: 400;
    font-style: initial;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 21, 21, 0.6); /* Semi-transparent */
    color: #cdd6f4;
    transition-property: background-color;
    transition-duration: .5s;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 4px;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.modules-left, .modules-center, .modules-right {
    animation: fadeIn 0.8s ease-in-out;
}

/* Common Module Styling */
#workspaces, #window, #cpu, #custom-gpu, #memory, #temperature, 
#clock, #battery, #network, #pulseaudio, #backlight, #bluetooth, #custom-power {
    padding: 0 10px;
    margin: 4px 4px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
}

/* Specific Highlights */
#workspaces button {
    padding-right: 12px;
    color: #a6adc8;
    border-radius: 20px;
        transition:
        background-color 240ms cubic-bezier(0.25, 0.9, 0.1, 1),
        color 200ms ease,
        transform 240ms cubic-bezier(0.25, 0.9, 0.1, 1),
        box-shadow 240ms ease,
        min-width 240ms ease;
}

#workspaces button.active {
    color: #89b4fa;
    background-color: rgba(137, 180, 250, 0.1);
}

#workspaces button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#clock {
    color: #f9e2af;
    font-weight: bold;
}

#battery.charging {
    color: #a6e3a1;
}

#battery.warning:not(.charging) {
    color: #fab387;
}

#battery.critical:not(.charging) {
    color: #f38ba8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-power {
    color: #f38ba8;
    padding-right: 15px;
}

@keyframes pulse {
        from { background-color: #f38ba8; }
        to   { box-shadow: 0 0 14px #ef4444; }
}